<!DOCTYPE html>
<!--https://www.w3schools.com/howto/howto_css_fullscreen_video.asp -->

<html>
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="index2.css">
    </head>
    <body>
	
	<div class="background">
		<img src="background.png" id="myVideo"/>
	</div>
	
	<div id="operations" class="content">
		<div id="drive_operations">
			<div id="triple_arrows">
				<img id="forward_left" src="up_arrow.png">
				<img id="forward" src="up_arrow.png">
				<img id="forward_right" src="up_arrow.png">
			</div>

			<div id="double_arrows">
				<img id="spin_left" src="up_arrow.png">
				<img id="spin_right" src="up_arrow.png">
			</div>
			
			<div id="single_arrows">
				<img id="backward" src="up_arrow.png">
			</div>
		</div>

		<div id="camera_operations">
			<div id="single_arrows">
				<img id="tilt_up" src="up_arrow.png">
			</div>

			<div id="double_arrows">
				<img id="pan_left" src="up_arrow.png">
				<img id="pan_right" src="up_arrow.png">
			</div>
			
			<div id="single_arrows">
				<img id="tilt_down" src="up_arrow.png">
			</div>
		</div>
	</div>
    </body>
</html>