/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
	height: 25%;
    padding: 20px;
}

/* Style the button used to pause/play the video */

#single_arrows {
}

#double_arrows {
	white-space: nowrap;
}

#triple_arrows {
	white-space: nowrap;
}

#operations {
    margin: auto;
}

img {
	width: 50px;
	height: 50px;
}


#drive_operations {
	float: left;
	margin-left: 40%;
}

#forward_left {
	transform: rotate(-45deg);
	padding: 0;
}

#forward {
	transform: rotate(0deg);
	padding: 0;
}

#forward_right {
	transform: rotate(45deg);
	padding: 0;
}

#spin_left {
	transform: rotate(-90deg);
	padding: 0 30px 0 0;
}

#spin_right {
	transform: rotate(90deg);
	padding: 0 0 0 30px;
}

#backward {
	transform: rotate(180deg);
	padding: 0 57px 30px 25px;
}


#camera_operations {
	float: right;
	margin-right: 30%
	
}

#tilt_up {
	transform: rotate(0deg);
	padding: 0 25px 0 57px;
}

#tilt_down {
	transform: rotate(180deg);
	padding: 0 57px 30px 25px;
}

#pan_left {
	transform: rotate(-90deg);
	padding: 0 30px 0 0;
}

#pan_right {
	transform: rotate(90deg);
	padding: 0 0 0 30px;
}


