<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rover</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
</head>
<body>

	<div class="background">
		<img src="{{url_for('static', filename='background.png')}}" id="myVideo"/>
	</div>

	<div id="operations" class="content">
	<form>
		<div id="drive_operations">
			<div id="triple_arrows">
				<a id=up_left class=drive_buttons>
					<button>
						<img src="{{url_for('static', filename='up_arrow.png')}}"
							 width="100" height="100"/>
					</button>
				</a>
				<a id=up class=drive_buttons>
					<button>
						<img src="{{url_for('static', filename='up_arrow.png')}}"
							 width="100" height="100"/>
					</button>
				</a>
				<a id=up_right class=drive_buttons>
					<button>
						<img src="{{url_for('static', filename='up_arrow.png')}}"
							 width="100" height="100"/>
					</button>
				</a>
			</div>

			<div id="double_arrows">
				<a id=left class=drive_buttons>
					<button>
						<img src="{{url_for('static', filename='up_arrow.png')}}"
							 width="160" height="100"/>
					</button>
				</a>
				<a id=right class=drive_buttons>
					<button>
						<img src="{{url_for('static', filename='up_arrow.png')}}"
							 width="160" height="100"/>
					</button>
				</a>
			</div>
			<div id="single_arrows">
				<a id=down class=drive_buttons>
					<button>
						<img src="{{url_for('static', filename='up_arrow.png')}}"
							 width="340" height="100"/>
					</button>
				</a>
			</div>
		</div>
	</form>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function () {
        $(document.getElementsByClassName("drive_buttons")).bind('mouseup', function () {
            $.post("/drive", {
                data: "stop"
            });
            return false;
        });
    });
    $(function () {
        $('a#up').bind('mousedown', function () {
            $.post("/drive", {
                data: "up"
            });
            return false;
        });
    });
    $(function () {
        $('a#up_left').bind('mousedown', function () {
            $.post("/drive", {
                data: "up_left"
            });
            return false;
        });
    });
    $(function () {
        $('a#up_right').bind('mousedown', function () {
            $.post("/drive", {
                data: "up_right"
            });
            return false;
        });
    });
    $(function () {
        $('a#left').bind('mousedown', function () {
            $.post("/drive", {
                data: "left"
            });
            return false;
        });
    });
    $(function () {
        $('a#right').bind('mousedown', function () {
            $.post("/drive", {
                data: "right"
            });
            return false;
        });
    });
    $(function () {
        $('a#down').bind('mousedown', function () {
            $.post("/drive", {
                data: "down"
            });
            return false;
        });
    });
</script>
</body>
</html>