<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rover</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}"/>
</head>
<body>

	<div class="background">
		<img src="{{ url_for('video_feed') }}" id="myVideo"/>
	</div>

	<div id="operations" class="content">
	<form>
		<div id="drive_operations">
			<div id="triple_arrows">
				<img id=forward_left class=drive_buttons src="{{url_for('static', filename='up_arrow.png')}}"/>
				<img id=forward class=drive_buttons src="{{url_for('static', filename='up_arrow.png')}}"/>
				<img id=forward_right class=drive_buttons src="{{url_for('static', filename='up_arrow.png')}}"/>
			</div>

			<div id="double_arrows">
				<img id=spin_left class=drive_buttons src="{{url_for('static', filename='up_arrow.png')}}"/>
				<img id=spin_right class=drive_buttons src="{{url_for('static', filename='up_arrow.png')}}"/>
			</div>
			<div id="single_arrows">
				<img id=backward class=drive_buttons src="{{url_for('static', filename='up_arrow.png')}}"/>
			</div>
		</div>
		
		<div id="camera_operations">
			<div id="single_arrows">
				<img id="tilt_up" src="{{url_for('static', filename='up_arrow.png')}}">
			</div>

			<div id="double_arrows">
				<img id="pan_left" src="{{url_for('static', filename='up_arrow.png')}}">
				<img id="pan_right" src="{{url_for('static', filename='up_arrow.png')}}">
			</div>
			
			<div id="single_arrows">
				<img id="tilt_down" src="{{url_for('static', filename='up_arrow.png')}}">
			</div>
		</div>
	</form>
	</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function () {
        $(document.getElementsByClassName("drive_buttons")).bind('mouseup', function () {
            $.post("/run", {
                data: "stop"
            });
            return false;
        });
    });
    $(function () {
        $('#forward_left').bind('mousedown', function () {
            $.post("/run", {
                data: "forward_left"
            });
            return false;
        });
    });
	$(function () {
        $('#forward').bind('mousedown', function () {
            $.post("/run", {
                data: "forward"
            });
            return false;
        });
    });
    $(function () {
        $('#forward_right').bind('mousedown', function () {
            $.post("/run", {
                data: "forward_right"
            });
            return false;
        });
    });
    $(function () {
        $('#spin_left').bind('mousedown', function () {
            $.post("/run", {
                data: "spin_left"
            });
            return false;
        });
    });
    $(function () {
        $('#spin_right').bind('mousedown', function () {
            $.post("/run", {
                data: "spin_right"
            });
            return false;
        });
    });
    $(function () {
        $('#backward').bind('mousedown', function () {
            $.post("/run", {
                data: "backward"
            });
            return false;
        });
    });
	$(function () {
        $('#tilt_up').bind('mousedown', function () {
            $.post("/run", {
                data: "tilt_up"
            });
            return false;
        });
    });
	$(function () {
        $('#tilt_down').bind('mousedown', function () {
            $.post("/run", {
                data: "tilt_down"
            });
            return false;
        });
    });
	$(function () {
        $('#pan_left').bind('mousedown', function () {
            $.post("/run", {
                data: "pan_left"
            });
            return false;
        });
    });
	$(function () {
        $('#pan_right').bind('mousedown', function () {
            $.post("/run", {
                data: "pan_right"
            });
            return false;
        });
    });
</script>
</body>
</html>